---
permalink: "user.json"
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title or "SC Web" }}</title>

  <script>
    (function() {
      const allowedReferer = "https://scweb9.netlify.app";
      if (document.referrer.indexOf(allowedReferer) !== 0) {
        alert("Access denied: Unauthorized referer");
      }
    })();
  </script>
</head>
<body>
<script type="application/json" id="userData">
{{ users | dump | safe }}
</script>
</body>
</html>