<script>
const cardcontainer = document.querySelector('.container');

cardcontainer.addEventListener('click', (event) => {
  const card = event.target.closest('.card');
  if (card) {
    const anchor = card.querySelector('a');
    if (anchor && anchor.href) {
    window.location.href = anchor.href;
    }
  }
});
</script>