<script>
 // To make up for the missing theme tag
if (localStorage.getItem('color-theme') === 'light') {
  document.body.classList.add('theme-light');
} else {
  document.body.classList.remove('theme-light');
}
</script>