<script type="module">
  import Shake from 'https://cdn.jsdelivr.net/npm/@shakebugs/browser@latest/+esm';
  window.Shake = Shake;

const onFeedback = () => {
  const title = new Shake.Title('Title', 'Title', '', true);
  const description = new Shake.TextInput('Description', 'Description', '', true);
  const relatedText = new Shake.TextInput('Article text', 'Enter article text, then place asterisks for recommended change', '', true);

  const pickerItems = [
    new Shake.PickerItem('Contribution', 'Contribution'),
  ];

  const picker = new Shake.Picker('Type', 'Type', pickerItems);

  const buildForm = () => {
    const components = [picker, title, relatedText];
    const form = new Shake.Form(components);
    Shake.setForm(form);
  };

  buildForm();
}

  // Start Shake with your API key
  Shake.start('atsRstFZq7z5fw4fpWm3NWPgnWJuo1vlylFHbOxxCzD0RdbqviTQlqe');

  // Attach click event after page load
  document.getElementById('feedbackBtn').addEventListener('click', onFeedback);
  });
</script>
