<script type="module">
    import Shake from 'https://cdn.jsdelivr.net/npm/@shakebugs/browser@latest/+esm'
    window.Shake = Shake;
</script>

<script>
// Import Shake from CDN if needed and initialize
// import Shake from 'https://cdn.jsdelivr.net/npm/@shakebugs/browser@latest/+esm';
// window.Shake = Shake;

const feedbackBtn = () => {
  const title = new Shake.Title('Title', 'Title', '', true);
  const description = new Shake.TextInput('Description', 'Description', '', true);
  const relatedText = new Shake.TextInput('Article text', 'Enter article text, then place asterisks for recommended change', '', true);

  const pickerItems = [
    new Shake.PickerItem('Contribution', 'Contribution'),
  ];

  const picker = new Shake.Picker('Type', 'Type', pickerItems);

 document.getElementById('feedbackBtn').addEventListener('click', () => {
    window.Shake.open();
  });
</script>
