<div class="fab-wrapper">
<div class="fab-container" id="fab" role="navigation" aria-label="Bottom tab bar">
  <nav class="fab-links">
    <a href="/404">Explore</a>
    <a href="/404">Settings</a>
  </nav>
</div>
</div>
