<script type="module">
    import Shake from 'https://cdn.jsdelivr.net/npm/@shakebugs/browser@latest/+esm'
    window.Shake = Shake;
    window.Shake.start('atsRstFZq7z5fw4fpWm3NWPgnWJuo1vlylFHbOxxCzD0RdbqviTQlqe');
</script>

<script>
  document.getElementById('feedbackBtn').addEventListener('click', () => {
    window.Shake.open();
  });
</script>

